div#slider {
	position: relative;
	width: 100%;
	height: 40em;
	top: 10em;
	overflow: hidden;
}

div#slider div#perspectiveFix {
	position: absolute;
	-webkit-perspective: 800px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective-origin: 50% 0%;
	width: 100%;
	height: 100%;
}

div#slider ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 160%;
	-webkit-transform: rotateY(45deg) rotateX(50deg);
	-webkit-transform-style: preserve-3d;
}

div#slider ul li {
	display: inline-block;
	position: relative;
	height: 20em;
	width: 18em;
	background: #fff;
	/*opacity: 0.5;*/
	margin: 0.5em;
	-webkit-transform-style: preserve-3d;
}

div#slider ul li::before {
	content: '';
	position: absolute;
	width: 1em;
	height: 100%;
	background-color: #888;
	-webkit-transform-origin: top left;
	-webkit-transform: rotateY(90deg);
}

div#slider ul li::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1em;
	bottom: 0;
	background-color: #555;
	-webkit-transform-origin: bottom left;
	-webkit-transform: rotateX(90deg);
}